@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Josefin+Sans&display=swap');
.App {
  text-align: center;
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.App-header {
  background-color: #32312f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f5b21f;
}

.App-header span {
  font-size: 5rem;
  /* text-transform: capitalize; */
  font-family: 'Dancing Script', cursive;
}
